{% load static %}
<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <!--图标-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <!--css-->
    <link rel="stylesheet" href="{% static 'css/template.css' %}">
    <link rel="stylesheet" href="{% static 'css/code.css' %}">

</head>
<body>
<!--怎么写：左侧栏 + 中间主页-->
<div id="left">
    <img src="{% static 'img/QQ图片.png' %}" alt="QQ：2194150786" width="50%">
    <h1>BeYoung</h1>
    <br>
    <div>
        {% if dirURL %}
            {% for URL in dirURL %}
                <p><a href="http://ghjd.xyz/{{ URL }}">{{ URL }}</a></p>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div id="content">
    {% block info %}
        {{ content|safe }}
    {% endblock %}
</div>
</body>

{#<script src="{% static 'js/template.js' %}"></script>#}

</html>